<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">


<!-- To Configure HibernateTransactionManager -->
<tx:annotation-driven/>
<mvc:annotation-driven></mvc:annotation-driven>
<mvc:resources location="/WEB-INF/resources/" mapping="/resources/**"/>
<mvc:annotation-driven></mvc:annotation-driven>

<!-- Configure annotation base package -->
<context:component-scan base-package="com.nt.niranjana.spring.mvcwithorm"/>



<!-- Configure ViewResolver<I> implementation class -->
<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="viewResolver">
	<property name="prefix" value="/WEB-INF/views/"></property>
	<property name="suffix" value=".jsp"></property>
</bean>

<!-- DataSource<I> is a interface so its impl class Configure -->
<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/projecteidiko" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
<!-- Configure org.springframework.orm.hibernate5.LocalSessionFactoryBean using XML But LocalSessionFactoryBeanConfiguration need DriverManagerDataSource class ref -->
<bean id="factory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
	    <property name="dataSource" ref="ds"/>
	    <property name="hibernateProperties">
			<props>
			   <prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
			   <prop key="hibernate.hbm2ddl.auto">update</prop>
			   <prop key="hibernate.show_sql">true</prop>
			</props>
	    </property>
	    
        <property name="annotatedClasses" >
            <list>
            	<value>com.nt.niranjana.spring.mvcwithorm.entity.UserEntity</value>
            </list> 
        </property>     
	</bean>
<!-- Configure HibernateTemplate using XML But HibernateTemplateConfiguration need org.springframework.orm.hibernate5.LocalSessionFactoryBean class ref -->
 <!-- Configure HibernateTemplate and access/use SessionFactory -->
  <bean class="org.springframework.orm.hibernate5.HibernateTemplate" id="hibernateTemplate">
  <property name="sessionFactory" ref="factory"/>

  </bean>
  
  
  <bean class="org.springframework.orm.hibernate5.HibernateTransactionManager" id="transactionManager">
  <property name="sessionFactory" ref="factory"/>
  </bean> 




		
</beans>